@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica-Now-Bold";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Bold.otf);
}
@font-face {
  font-family: "Helvetica-Now-Black";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Black.otf);
}
@font-face {
  font-family: "Helvetica-Now-ExBold";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-ExtraBold.otf);
}
@font-face {
  font-family: "Helvetica-Now-ExLight";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-ExtraLight.otf);
}
@font-face {
  font-family: "Helvetica-Now-Light";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Light.otf);
}
@font-face {
  font-family: "Helvetica-Now-Medium";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Medium.otf);
}
@font-face {
  font-family: "Helvetica-Now-Regular";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Regular.otf);
}
@font-face {
  font-family: "Helvetica-Now-Thin";
  src: url(./assets/font/1-Helvetica\ Now\ Text/HelveticaNowText-Thin.otf);
}

@layer base {
  html,
  body {
    background-color: #fafafa;
    overflow-x: hidden;
  }
}
